{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "AzureWebJobsDashboard": "",
    "TwilioAccountSid": "",
    "TwilioAuthToken": "",
    "TwilioPhoneNumber": "",
    "ReminderMessage": ""
  }
}
